* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8ff;
}

input {
    margin-bottom: 60px;
    padding: 5px;
    position: sticky;
    top: 50px;    
}

.paises {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px 20px;
}

.pais {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: #a9a9a9;
    border-radius: 5px;
}

img {
    width: 150px;
    height: 100px;
}

.escondido {
    display: none;
}
